@-moz-document url-prefix("about:") {
    :root {
        --button-border-radius: 6px !important;
        --border-radius-circle: 6px !important;
        --card-border-radius: 6px !important;
        --border-radius-medium: 6px !important;
    }
}